<?xml version="1.0" encoding="utf-8"?>
<!--
/*
** Copyright 2009, The Android Open Source Project
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
**     http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
*/
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.websearch"
    android:sharedUserId="android.uid.shared">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:label="@string/app_label"
            android:icon="@drawable/searchengine"
            android:process="android.process.acore">

        <activity android:name=".WebSearch"
                android:theme="@android:style/Theme.NoDisplay"
                android:excludeFromRecents="true">
        </activity>

        <!--
        /*
         * The following activity aliases act as the various built-in web search and suggest
         * providers exported from this package. The provider names and enabled flag values come
         * from strings.xml for the current locale. This allows us to define a static list of
         * providers for each locale and let the runtime take care of selecting the appropriate
         * ones.
         */
        -->
        <activity-alias android:name=".Search.1"
                android:label="@string/engine_1_label"
                android:enabled="@bool/engine_1_enabled"
                android:targetActivity=".WebSearch">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable_1" />
        </activity-alias>

        <activity-alias android:name=".Search.2"
                android:label="@string/engine_2_label"
                android:enabled="@bool/engine_2_enabled"
                android:targetActivity=".WebSearch">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable_2" />
        </activity-alias>

        <activity-alias android:name=".Search.3"
                android:label="@string/engine_3_label"
                android:enabled="@bool/engine_3_enabled"
                android:targetActivity=".WebSearch">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable_3" />
        </activity-alias>

        <activity-alias android:name=".Search.4"
                android:label="@string/engine_4_label"
                android:enabled="@bool/engine_4_enabled"
                android:targetActivity=".WebSearch">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable_4" />
        </activity-alias>

        <activity-alias android:name=".Search.5"
                android:label="@string/engine_5_label"
                android:enabled="@bool/engine_5_enabled"
                android:targetActivity=".WebSearch">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable_5" />
        </activity-alias>

        <activity-alias android:name=".Search.6"
                android:label="@string/engine_6_label"
                android:enabled="@bool/engine_6_enabled"
                android:targetActivity=".WebSearch">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable_6" />
        </activity-alias>

        <activity-alias android:name=".Search.7"
                android:label="@string/engine_7_label"
                android:enabled="@bool/engine_7_enabled"
                android:targetActivity=".WebSearch">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable_7" />
        </activity-alias>

        <!--
        /*
         * The number of suggest authorities defined below is exactly the same as the number of
         * activity-alias elements defined above.
         */
        -->
        <provider android:name=".SuggestionProvider"
            android:authorities="com.android.websearch.Suggest" />
    </application>
</manifest>
